Repository konveyor/tackle-test-generator-cli, pull requests merged in 2022-05, with the labels that each got.

#252 Change license from EPL-2.0 to APL-2.0
  LICENSE
  setup.py
  test/unit/test_config.py
  test/unit/test_generate_execute.py
  test/unit/test_tkltest.py
  test/unit/test_unit_tests.py
  tkltest/execute/ui/execute.py
  tkltest/execute/unit/compare_coverage.py
  tkltest/execute/unit/coverage_html_writer.py
  tkltest/execute/unit/execute.py
  tkltest/generate/ui/generate.py
  tkltest/generate/ui/generate_selenium.py
  tkltest/generate/unit/augment.py
  tkltest/generate/unit/ctd_coverage.py
  tkltest/generate/unit/generate.py
  tkltest/generate/unit/generate_standalone.py
  tkltest/tkltest.py
  tkltest/tkltest_ui.py
  tkltest/tkltest_unit.py
  tkltest/util/command_util.py
  tkltest/util/config_options.py
  tkltest/util/config_util.py
  tkltest/util/constants.py
  tkltest/util/logging_util.py
  tkltest/util/ui/browser_util.py
  tkltest/util/ui/config_options_ui.py
  tkltest/util/ui/dir_util.py
  tkltest/util/unit/build_util.py
  tkltest/util/unit/code_util.py
  tkltest/util/unit/config_options_unit.py
  tkltest/util/unit/coverage_util.py
  tkltest/util/unit/dir_util.py
Labels: documentation, other

#257 Terminate augmentation with intermediate results when memory is exhausted
  tkltest/generate/unit/augment.py
  tkltest/util/unit/coverage_util.py
Labels: fix, tkltest-unit

#258 Use central repository for defining test dependencies when integrating tests into app build file
  tkltest/util/unit/build_util.py
Labels: fix, tkltest-unit

#263 Fix in non-fraggen mode crawling
  lib/pom_ui.xml
  lib/settings.xml
  test/ui/addressbook_setenv.bash
  test/ui/data/addressbook/tkltest_ui_config_nonfrag.toml
  test/ui/data/petclinic/tkltest_ui_config_nonfrag.toml
  test/ui/petclinic_setenv.bash
  test/ui/test_cli_addressbook.bats
  test/ui/test_cli_petclinic.bats
  tkltest/util/ui/config_options_ui.py
Labels: fix
